:root {
  /* primary colors */
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  /* neutral colors */
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);

  /* Font sizes */
  --body-font-size: 14px;
}

body {
  background-color: var(--cream);
  font-size: var(--body-font-size);
  max-width: 100%;
  max-height: 100%;
}

.card {
  max-width: 90%;
  max-height: 90%;
  height: 380px;
  width: 500px;
  margin: 15% auto;
  border-radius: 7px 7px 7px 7px;
  /* VIA CSS MATIC https://goo.gl/cIbnS */
  /* -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15); */
  display: flex;
  /* flex-direction: row; */
  flex: 1;
}

/* #region CardImage */

.card-image {
  width: 250px;
  height: 380px;
}

.card-image img {
  border-radius: 7px 0 0 7px;
  height: 380px;
  width: 250px;
}
/* #endregion CardImage */

/* #region Content */
.card-content {
  height: 380px;
  width: 250px;
  border-radius: 0 7px 10px 7px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: var(--white);
}

.card-content h3 {
  margin-top: 24px;
  font-size: 10px;
  color: var(--dark-cyan);
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.3em;
  margin-bottom: 24px;
}

.card-content h2 {
  color: var(--very-dark-blue);
  font-family: "Fraunces", sans-serif;
  font-size: 24px;
  width: 10ch;
  margin-bottom: 24px;
}

.card-content p {
  color: var(--dark-cyan);
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 0.5px;
  padding-right: 16px;
  line-height: 1.5;
  width: 24ch;
}

.card-content .price {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
}

.card-content .price .current-price {
  color: var(--dark-cyan);
  font-family: "Fraunces", sans-serif;
  font-size: 24px;
}

.card-content .price .old-price {
  margin-top: 6px;
  margin-left: 24px;
  text-decoration: line-through;
  color: var(--dark-cyan);
  font-size: 12px;
}
/* #endregion Content */

/* #region Buy-Button */
.card-content .buy-button {
  margin-top: 24px;
  background-color: var(--dark-cyan);
  border-radius: 8px;
  width: 200px;
  height: 40px;
  margin-bottom: 24px;
}

.card-content .buy-button p {
  color: var(--white);
  margin: 8px auto;
  font-family: "Montserrat", sans-serif;
  padding-left: 16px;
}
/* #endregion */

@media (max-width: 550px) {
  .card {
    flex-direction: column;
  }

  .card-image img {
    border-radius: 7px 7px 0 0;
  }

  .card-content {
    border-radius: 0 0 10px 7px;
  }
}
